{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {# <meta name="viewport" content="width=device-width, initial-scale=1">#}

  <!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->
  <title>패션고자</title>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <!-- 부트스트랩 -->
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" >
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/layout.css' %}">
  <link rel="stylesheet" href="{% static 'css/post.css' %}">
  <link rel="stylesheet" href="{% static 'css/mylist.css' %}">
  <link rel="stylesheet" href="{% static 'css/search.css' %}">
  <link rel="stylesheet" href="{% static 'css/account_form.css' %}">
  <link rel="stylesheet" href="{% static 'css/post_upload.css' %}">
  <link rel="stylesheet" href="{% static 'css/media.css' %}">
  <!-- IE8 에서 HTML5 요소와 미디어 쿼리를 위한 HTML5 shim 와 Respond.js -->
  <!-- WARNING: Respond.js 는 당신이 file:// 을 통해 페이지를 볼 때는 동작하지 않습니다. -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

{% block title %}
{% endblock %}

{% block content %}
  <div class="form">
  		<a href="/accounts/login"><img src="/static/images/resources/logo.png" class="img-responsive center-block logo marginstopper"/></a>
    <!--<h1 class="title">패션고자</h1>-->
	<!-- <h1>패션고자</h1> -->
    <form action="" method="post">
      {% csrf_token %}
        {{ form.as_p }}
      <input class="submit_btn" type="submit" value="로그인">
    </form>
  </div>
  </div>
{% endblock %}